#navbar{
    background-color: #1c1b1b;
}
#menu{
    color: white;
}

#boton{
    background-color: #134074;
    color: white;
    margin: 10px;
}

#botonBien{
    background-color: #ff7512;
    color: white;
    border-radius: 5px;
    margin: 10px;
    position: absolute left;
}

#tabla{
    background-color: #ff7512;
}
#bordeTable{
    margin: 20px;
}

.titulo{
    text-decoration: #134074;
    margin: 10px;
}
.btn-custom {
    background-color: #ff7512 !important;
    border-color: #ff7512 !important;
    color: #fff !important;
}


